name: very_good_dart_cli_hooks

on:
  pull_request:
    paths:
      - ".github/workflows/very_good_dart_cli_hooks.yaml"
      - "very_good_dart_cli/hooks/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/very_good_dart_cli_hooks.yaml"
      - "very_good_dart_cli/hooks/**"

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/dart_package.yml@v1
    with:
      dart_sdk: "3.10.0"
      report_on: "post_gen.dart"
      working_directory: "very_good_dart_cli/hooks"
      analyze_directories: "test"
